/* Admin.css */
h1 {
    padding: 20px;
}

/* Home.css */
.advertisement-slider {
    display: flex;
    overflow-x: auto;
}

.advertisement-slide {
    min-width: 300px; /* Adjust as needed */
    margin-right: 20px;
}
