html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white; /* Set the body background to white */
  height: 100%; /* Ensure the body takes full height */
}

.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar styles */
.navbar {
  background-color: #003366; /* Dark blue background for the navbar */
  color: white;
  padding: 15px 20px;
}

/* Main content styling */
main {
  flex: 1; /* Take up all available space to push the footer to the bottom */
  padding: 20px;
  background-color: white; /* Ensure main content has a white background */
  color: black; /* Change the text color to black for better readability */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer styles */
.footer {
  background-color: #003366; /* Dark blue background for footer */
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
}

.footer-bottom {
  background-color: white; /* White background for the bottom part of the footer */
  padding: 10px 0;
  color: black;
}

.footer-bottom p {
  margin: 0;
}

/* Media queries for responsiveness */
@media (max-width: 767px) {
  .App {
    padding: 0 15px;
  }

  /* Adjustments for smaller screens */
  .footer-section {
    text-align: center;
    margin-bottom: 20px;
  }
}

html {
  scroll-behavior: smooth;
}
