/* Navbar Toggle Button */
.navbar-toggler {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: transform 0.2s ease-in-out;
  z-index: 1100;
}

/* Navbar Menu */
.navbar-menu {
  background-color: #003366;
  padding: 1rem;
  position: relative; /* Changed from absolute to relative */
  top: 0;             /* Remove vertical offset */
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;  /* Hidden by default */
}

.navbar-menu.active {
  display: block;  /* Show when active */
  transform: translateY(0);  /* Animate slide-down */
}

/* Responsive Styling */
@media (max-width: 768px) {
  .navbar-menu {
    top: 60px; /* This can be adjusted as needed */
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .navbar-menu.active {
    display: block;
  }

  .navbar-menu ul {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .navbar-toggler {
    display: none;  /* Hide toggle on larger screens */
  }

  .navbar-menu {
    display: flex;
    position: relative;
    top: 0;
    background-color: transparent;
  }

  .navbar-menu ul {
    flex-direction: row;
    justify-content: center;
  }

  .navbar-menu ul li {
    padding: 0 20px;
  }
}

/* .App Style */
.App {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: #003366;
}