.navbar-toggler {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.navbar-menu {
  background-color: #003366;
  padding: 1rem;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: transform 0.3s ease;
  transform: translateY(-100%);
}

.navbar-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-menu ul li {
  padding: 10px 0;
}

.navbar-menu a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-menu a:hover {
  color: #00ccff;
}
html {
  scroll-behaviour: smooth;
}
.navbar-toggler.active {
  transform: translateY(0);
}

@media (max-width: 768px) {
  .navbar-menu ul {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .navbar-menu ul {
    flex-direction: row;
    justify-content: center;
  }
  .navbar-menu ul li {
    padding: 0 20px;
  }
  .navbar-menu {
    position: relative;
    top: 0;
    transform: none;
    background-color: transparent;
  }

}
